name: Build and Deploy Resume

on: push

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    container: muggle7/resume:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set TAG_NAME
        id: set_tag_name
        run: |
          echo "TAG_NAME=v$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV
        shell: bash

      - name: Build Private Resume
        run: |
          git config --global --add safe.directory /__w/resume/resume
          mkdir -p output
          make all BRANCH_NAME=$(git rev-parse --abbrev-ref HEAD) PRIVATIZE=false

      - name: Create Tag
        run: |
          git tag ${{ env.TAG_NAME }}
          git push origin ${{ env.TAG_NAME }}

      - name: Create Private Release
        id: create_private_release
        uses: softprops/action-gh-release@v1
        with:
          files: output/*
          tag_name: ${{ env.TAG_NAME }}

      - name: Upload Private Release Asset
        uses: softprops/action-gh-release@v1
        with:
          files: output/*
          tag_name: ${{ env.TAG_NAME }}

      # Now we build the public version and create a release on the nikhil-ravi/resume-public repo
      - name: Build Public Resume
        run: |
          git config --global --add safe.directory /__w/resume/resume
          mkdir -p output
          make all BRANCH_NAME=$(git rev-parse --abbrev-ref HEAD) PRIVATIZE=true

      - name: Create Public Release
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_REPO_SECRET  }}
        run: |
          git config --global user.email "nr337@cornell.edu"
          git config --global user.name "Nikhil Ravi"
          gh release create ${{ env.TAG_NAME }} --title ${{ env.TAG_NAME }} output/* -R ${{ env.PUBLIC_REPO_URL }}
